<form class="form-container signUpForm center-container">
  <div class="form-group  center-container">
    <h1 class="form-caption text-center">Izveidot kontu</h1>
    <input class="input-field w-100" type="email" placeholder="e-pasts"
           [(ngModel)]="userAuthService.user.email"
           name="email" ngModel required/>
    <p class="inputFieldError" *ngIf="error"></p>
    <input class="input-field w-100" type="text" placeholder="lietotājvārds"  [(ngModel)]="userAuthService.user.userName" name="userName" ngModel required/>
    <input class="input-field w-100" type="text" placeholder="vārds"  [(ngModel)]="userAuthService.user.name" name="firstName" ngModel required/>
    <input class="input-field w-100" type="text" placeholder="uzvārds"  [(ngModel)]="userAuthService.user.lastName" name="lastName" ngModel required/>
    <input class="input-field w-100" type="password" placeholder="parole"  [(ngModel)]="userAuthService.user.password" name="password" ngModel required/>
    <button class="btn-primary w-100" (click)="createNewUser()">Izveidot kontu</button>
    <div class="underlined-figure w-100 text-right" (click)="loginService.toggleUSerForm()">{{loginService.getFormToggleButtonName()}}</div>
    <div class="error">{{errorMessage}}</div>
  </div>
</form>

