@import '../../../styles/colors.styl'
@import '../../../styles/font-styles.styl'
@import '../../../styles.styl'
.app-footer
  background-color: --var-color-secondary-3-1
  height: --var-app-footer-height
