<div class="message-wrap w-100 flex-horizontal" [ngClass]="{'incoming': chekIfIsIncoming(), 'outgoing': !chekIfIsIncoming()}">
  <div class="message-container">
    <div class="message-header flex-horizontal flex-align-center">
      <span class="caption"> {{getSenderName()}}</span>
      <span class="data"></span>
      <button (click)="userAuthService.deleteChatMessage(message.message, message.user)">Dzēst</button>
    </div>
    <div class="message-body">
      <p class="text">
        {{message.message}}
      </p>
    </div>
  </div>
</div>
