<header class="app-header flex-horizontal space-between flex-align-center">
  <div class="logo">CitrusApp</div>
  <nav>
    <ul class="app-navigation flex-horizontal">
      <li class="navigation-item active"><a routerLink="/userBoard" routerLinkActive="active">Saziņa</a></li>
      <li class="navigation-item"><a routerLink="/help" routerLinkActive="active">Palīdzība</a></li>
      <li class="navigation-item"><a routerLink="/settings" routerLinkActive="active">Iestatījumi</a></li>
      <li class="navigation-item" (click)="this.userAuthService.signOut()">Iziet</li>
    </ul>
  </nav>
</header>
