<div class="notification-overlay flex-horizontal flex-justify-align-center" *ngIf="userAuthService.deleteAccount">
  <div class="notification-container">
    <div class="notification-header flex-horizontal flex-align-center">
      <h1>Lietotāja konta dzēšana dzēšana</h1>
    </div>
    <div class="notification-body flex-vertical">
      <p>Vai tiešām vēlaties  dzēst lietotāja kontu?</p>
      <p>Konta dati tiks neatgriezeniski dzēsti.</p>
      <div class="btn-container flex-horizontal flex-justify-align-center w-100">
        <button class="w-100" (click)="this.userAuthService.getAnswer('delete')">Dzēst</button>
        <button class="w-100 btn-danger" (click)="this.userAuthService.getAnswer('cancel')">Atcelt</button>
      </div>
    </div>

  </div>
</div>
