@import "../../../styles/colors.styl"
@import "../../../styles/font-styles.styl"
@import '../../../styles.styl'


h1
  font: --var-form-caption
  color: --var-color-secondary-3-3
h2
  font: --var-base-body-caption
  color: --var-color-secondary-3-1
