html, body
  border: 1px solid rosybrown

--var-color-primary-0 = #EFFDDD

/* Main Primary color */
--var-color-primary-1 = #29B31D

--var-color-primary-2 = #1F8716

--var-color-primary-3 = #D8E4C7

/* Main Secondary color (1) */
--var-color-secondary-1-1 = #DDDA2D

--var-color-secondary-1-2 = #EAE67B

--var-color-secondary-1-3 = #C8B829

--var-color-secondary-1-4 = #FCFDDF

/* Main Secondary color (2) */
--var-color-secondary-2-1 = #DDB42D

--var-color-secondary-2-2 = #E2E3C8

--var-color-secondary-2-3 = #E2E3C8

--var-color-secondary-2-4 = #EAE67B

/* Main Secondary color (3) */
--var-color-secondary-3-1 = #929A87

--var-color-secondary-3-3 = #9C9C9C

/* Transparent colors (3) */
--var-color-transparent-1 = rgba(0, 0, 0, 10%)

--var-color-transparent-2 = rgba(0, 0, 0, 45%)

