@import '../../../styles/colors.styl'
@import '../../../styles/font-styles.styl'
@import '../../../styles.styl'




textarea
  display: block
  bottom: 0
  height: --var-app-text-box-height
  width: 100%
  border: 1px solid --var-color-primary-3
  resize: none
