@import "../../../styles/colors.styl"
@import "../../../styles/font-styles.styl"
@import '../../../styles.styl'

.messages-list-item
  height: 75px
  margin-bottom: 1px
  padding: 30px 23px
  box-sizing: border-box
  &.selected
    background-color: --var-color-secondary-1-2
  .caption
    max-width: 90%
    padding-right: 10px


