<div class="options-container flex-horizontal">
    <h1>Hello {{userAuthService.user.userName}}</h1>
  <app-search [dataArray]="messagingService.users" [atributeName]="'userName'" (foundObject)="messagingService.startChat($event)"></app-search>
</div>
<div class="messaging-container flex-horizontal">
  <ul class="messages-list vertical-border">
    <li class="messages-list-item flex-horizontal flex-align-center selected">
      <span class="caption overflow-ellipsis">Vanda</span>
      <span class="text overflow-ellipsis">Lorem ipsum sit dolore Lorem ipsum sit dp0</span>
    </li>
    <li class="messages-list-item"></li>
    <li class="messages-list-item"></li>
  </ul>
  <div class="chatbox-container flex-vertical">
    <app-chat-box *ngIf="messagingService.otherUser !== null"></app-chat-box>
<!--    <app-chat-box ></app-chat-box>-->
  </div>
</div>
