@import "../../../styles/colors.styl"
@import "../../../styles/font-styles.styl"
@import '../../../styles.styl'

:host
  width: 55%
.search-input
  height: 38px
  background-color: --var-color-transparent-1
  font: --var-base-body-caption
  color: --var-color-secondary-3-3
  border-color: transparent
  outline-color: transparent
  &::placeholder
    color: --var-color-transparent-1
  &:focus
    border-color: transparent
    outline-color: transparent
