@import 'styles/colors.styl'
@import 'styles/font-styles.styl'

/*
globals, base styles
*/
:root
  font-family: metropolis-regular, sans-serif
  font-size: 16px
  outline-color: --var-color-primary-0
  * >
    &:focus
      border-color: --var-color-primary-0
      outline-color: --var-color-primary-0

--var-app-header-height = 80px
--var-app-footer-height = 70px
--var-app-text-box-height = 118px


/*
px to em
14px - 0.87em
30 - 1.87
24 - 1.5
20 - 1.25
96 - 6
48 - 3
*/

html,
body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  overflow: hidden
input
  display: block
body
  position: relative
  background-color: --var-color-primary-0
button
  height: 38px
  border: none
  cursor: pointer
  background-color: transparent
  color: --var-color-secondary-1-3
  font: --var-bold-text
ul
  margin: 0
  list-style-type: none
  padding-left: 0
a
  text-decoration: none
.center-container
  margin: 0 auto
.logo
  font: --var-form-caption
  color: --var-color-secondary-1-1

/*
layout
*/
.container
  width: 100%
  height: 100%
  max-width: 1920px
  padding: 0
.page-container
  height: "calc(100% - %s - %s)" % (--var-app-header-height --var-app-footer-height)
  padding: 0 52px
.main-heading
  font: --var-app-heading
  color: --var-color-secondary-1-1
.text-center
 text-align: center
.text-right
  text-align: right
.text-left
  text-align: left
.w-100
  width: 100%
.mb-1
  margin-bottom: 1em

  /*
  flex
  */
.space-between
  justify-content: space-between
.flex-align-center
  align-items: center
.flex-horizontal
  display: flex
  flex-direction: row
.flex-align-left
  justify-content: flex-start
.flex-align-right
  justify-content: flex-end
.flex-justify-center
  justify-content: center
.flex-justify-align-center
  justify-content: center
  align-items: center
.flex-vertical
  display: flex
  flex-direction: column
/*
global, shared
 */
input.ng-valid
  border: 1px solid --var-color-primary-1
input.ng-invalid.ng-touched
  border: 1px solid orange
.overflow-ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
.btn-primary
  background-color: --var-color-secondary-1-1
  color: white
  font: --var-bold-text
.btn-danger
  background-color: --var-color-secondary-1-3
  color: white
  font: --var-bold-text
.btn-primary, .btn-danger
  &:disabled
    opacity: 0.5
    cursor: not-allowed
.vertical-border
  border-right: 1px solid --var-color-primary-3
.underlined-figure
  text-decoration: underline
  color: --var-color-transparent-2
  font: --var-bold-text
  cursor: pointer
/*
layout
*/
.options-container
  height: --var-app-header-height
  h1
    font: --var-form-caption
    color: --var-color-secondary-3-1
.messaging-container
  height: "calc(100% - %s)" % (--var-app-header-height)
.messages-list
  width: 45%
  border-right: 1px solid --var-color-primary-3
  padding-right: 52px
  overflow: auto
.chatbox-container
  width: 65%
  box-sizing: border-box
  position: relative
  overflow: hidden
  padding-left: 52px
.messages-list,
.chatbox-container
  box-sizing: border-box
  margin-bottom: 33px
.messages-container
  height: "calc(100% - %s - 6px)" %(--var-app-text-box-height)
  overflow: auto

/*
form
*/
.form-container
  height: auto
  padding: 133px 0
  box-sizing: border-box
  .form-group
    min-width: 100px
    width: 100%
    max-width: 300px
    .form-caption
      font: --var-form-caption
      color: --var-color-secondary-1-1
      margin: 0
  .form-error-text
    color: --var-color-secondary-2-1
.input-field
  height: 38px
  box-sizing: border-box
  margin: 10px 0
  background-color: --var-color-transparent-1
  border-color: transparent
  &:placeholder
    background-color: --var-color-transparent-2
    font: --var-bold-text
  &:focus
    border-color: transparent
    outline-color: transparent

